@import "mocha.css";

* {
  font-family: FantasqueSansMono Nerd Font;
  font-size: 17px;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
  margin: 5px;
}

#workspaces {
  border-radius: .5rem;
  margin: 5px;
  background-color: @surface0;
  margin-left: 1rem;
}

#workspaces button {
  color: @text;
  border-radius: .5rem;
  padding: 0.4rem;
}

#workspaces button.active {
  color: @sky;
  border-radius: .5rem;
}

#backlight,
#clock,
#battery,
#pulseaudio,
#custom-lock {
  background-color: @surface0;
  padding: 0.5rem 1rem;
  margin: 5px 0;
}

#clock {
  color: @text;
  border-radius: .5rem;
}

#battery {
  color: @text;
  margin-right: 1rem;
  border-radius: 0 .5rem .5rem 0;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @text;
}

#backlight{
    border-radius: 0;
}

#pulseaudio {
  color: @text;
  border-radius: .5rem 0px 0px .5rem;
  margin-left: 1rem;
}

#custom-lock {
	margin-right: 1rem;
    border-radius: .5rem;
    color: @text;
}
